.imageWrapper {
  position: relative;
  width: 274px;
  height: 268px;
  margin-bottom: 14px;
}

.carImage {
  width: 274px;
  height: 268px;
  border-radius: 14px;
  object-fit: cover;
}

.addFavorite {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 9px;
  color: rgba(18, 20, 23, 1);
  margin-bottom: 15px;
}

.model {
  margin-left: 3px;
  color: rgba(52, 112, 255, 1);
}

.year {
  margin-left: 3px;
}

.price {
  display: inline;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 270px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 28px;
}

.tags p {
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(18, 20, 23, 0.5);
}

.tags span {
  color: rgba(18, 20, 23, 0.1);
  line-height: 16px;
  font-size: 16px;
  font-weight: 600;
}

.learnMoreBtn {
  width: 100%;
  height: 44px;
  background-color: rgba(52, 112, 255, 1);
  border: 0px;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  outline: none;
}

.learnMoreBtn:hover {
  background-color: rgba(11, 68, 205, 1);
  border: 0px;
}

.learnMoreBtn:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}
