.leftAside {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  /* outline: 1px solid #808080; */
  margin-right: 30px;
  padding: 10px 0px 10px 0;
  /* height: 980px; */
  box-shadow: 5px 0 5px -5px #888;
}

.rightAside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftTitle {
  color: rgba(52, 112, 255, 1);

  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  margin-bottom: 15px;
  margin-right: 20px;
}

.leftUl {
  height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.carCard {
  width: 274px;
  height: 308px;
  list-style: none;
  background-color: rgb(245, 241, 241);
  padding: 13px;
  border-radius: 20px;
}

.carCard:not(:last-child) {
  margin-bottom: 30px;
}

/* RIGHT SIDE */

.noItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 50px 0 10px;
}

.noItemsImage {
  width: 100px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.nothingText {
  color: rgba(52, 112, 255, 1);

  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.noItemsRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 50px 0 10px;
}

.noItemsRightImage {
  width: 500px;
  margin-right: 10px;
  margin-bottom: 30px;
  opacity: 0.8;
}

/* modal */

.modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Manrope';
  position: relative;
  width: 800px;
  height: 950px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
  padding: 40px;
  box-sizing: border-box;
}

.carImage {
  width: 100%;
  height: 470px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 14px;
}

.text {
  width: 100%;
  /* height: 72px; */
}

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(18, 20, 23, 1);
  margin-top: 0;
  margin-bottom: 8px;
}

.model {
  margin-left: 3px;
  color: rgba(52, 112, 255, 1);
}

.year {
  margin-left: 3px;
}

.price {
  display: inline;
}

.tags {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(18, 20, 23, 0.5);
  overflow: hidden;
}

.tags span {
  color: rgba(18, 20, 23, 0.1);
  line-height: 16px;
  font-size: 16px;
  font-weight: 600;
}

.tags[id='tags1'] {
  margin-bottom: 14px;
}

.description {
  display: block;
  font-family: 'Manrope';
  width: 461px;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 24px;
}

.functionalities {
  width: 100%;
  height: 68px;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.rentalConditions {
  margin-bottom: 24px;
  height: 100px;
}

.h3 {
  margin-top: 0;
  margin-bottom: 8px;
}

.conditionsUl,
.functionalitiesUl {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.conditionsLi {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 7px 14px;
  background-color: rgba(249, 249, 249, 1);
  border-radius: 35px;
  box-sizing: border-box;
}

.conditionsLi:not(:last-child) {
  margin-right: 8px;
}

/* .conditionsLi:nth-of-type(2) {
  margin-right: 100px;
} */

.conditionsLi:nth-child(-n + 2) {
  margin-bottom: 8px;
}

[id='montserrat'] {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(54, 53, 53, 1);
}

[id='montserrat'] span {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: rgba(52, 112, 255, 1);
}

[id='manrope'] {
  font-family: 'Manrope';
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(54, 53, 53, 1);
}

.rentalCarBtn {
  font-family: 'Manrope';
  width: 168px;
  height: 44px;
  background-color: rgba(52, 112, 255, 1);
  border: 0px;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  box-sizing: border-box;
  padding: 0;
}

.rentalCarBtn:hover {
  background-color: rgba(11, 68, 205, 1);
}

.rentalCarBtn:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}
